footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    color: var(--joy-palette-neutral-300, #CDD7E1);
    border-top: 1px solid var(--joy-palette-divider);
}