@use 'variables';
@use 'mixins';

.icon-navbar-view {
    background-image: url(../images/navbar-button.svg);
}

.navbar {
    display: flex;
    flex: 1 1 auto;
    max-width: max(280px, 17.5rem);
    padding: 1rem;
    z-index: 21;
    // gap: 1rem;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: var((--joy-palette-divider), rgba(99, 107, 116, 0.16));
    transition: transform 0.4s ease 0s;
    --Icon-color: var(--joy-palette-text-icon);
    --ListItem-stickyBackground: var(--joy-palette-background-surface);
    --Sheet-background: var(--joy-palette-background-surface);
    background-color: var(--joy-palette-background-surface);
    background-color: var(--joy-palette-background-surface);
    flex-direction: column;
    color: var(--variant-plainColor, var(--joy-palette-neutral-plainColor, var(--joy-palette-neutral-700, #32383E)));
    font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
    position: sticky;

    &-header {
        margin-bottom: 1rem;
        display: inline-flex;
        justify-content: space-between;
    }

    &-logo {
        display: inline-flex;
        align-items: center;
        letter-spacing: -0.025em;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 1.5rem;

        .icon-logo {
            @include mixins.square(2.125rem);
            margin-right: .5rem;
        }
    }

    &-button {
        @include mixins.square(2.25rem);
        transform: scaleX(-1);
        transition: .25s;

        i {
            @include mixins.square(0.99em);
            @include mixins.bg-cent();
            background-image: url(../images/navbar-button.svg);
        }
    }


    @media (max-width:1200.1px) {
        position: fixed;
    }

    .navbar-data-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .mark {
            display: inline-flex;
            @include mixins.square(1rem);
            border-radius: 100%;
            margin-right: .25rem;
        }

        .title {
            display: inline-flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            color: rgb(134, 142, 150);
        }

        .value {
            color: rgb(241, 241, 241);
            font-weight: 600;
            font-size: 18px;
            display: flex;
            gap: .5rem;
            flex-wrap: nowrap;
        }
    }

    .navbar-buttons-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 1rem;
        gap: 1rem;

        .btn {
            position: relative;
            font-weight: 600;
            font-size: 1rem;
            border-radius: .5rem;
            padding: .625rem .875rem;
            min-height: 2.75rem;
        }

        .btn-gradient {
            @include mixins.btn-gradient();
        }

        .btn-border-color {
            @include mixins.btn-border-color();
        }
    }

    .navbar-switcher-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1rem;

        .switcher-title {
            text-transform: uppercase;
            color: 32383E;
            letter-spacing: 1.05px;
            line-height: 120%;
            margin-bottom: .5rem;
            font-size: .75rem;

        }

        .switcher {
            @include mixins.switcher();
            @include mixins.switcher-violet-color();
            width: 3.375rem;
            height: 2rem;

            label::before {
                border-radius: 1rem;
            }
        }
    }

    .navbar-navigation-section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1rem;

        .nav-item {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.75rem 0;
            border-radius: .5rem;
            width: 100%;

            i {
                @include mixins.square(2rem);
                margin-right: .5rem;
            }
        }

        .nav-item,
        .drop-down-list .item {


            &:hover,
            &.active,
            &.router-link-active {
                background-color: var(--joy-palette-neutral-800, #171A1C);
            }
        }

        &.general {
            .nav-item {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        &.payment {
            border-top: 1px solid rgba(var(--joy-palette-neutral-mainChannel, 99 107 116) / 0.16);

            padding-top: 1rem;

            .nav-item {
                font-size: 1.125rem;
                font-weight: 600;
            }

            .navbar-navigation-title,
            .nav-item,
            .item {
                padding-left: .625rem;
                padding-right: .625rem;
            }

            .drop-down {
                @include mixins.drop-down();

                .drop-down-list {
                    gap: .25rem;

                    .item {
                        border-radius: .25rem;
                        padding-top: .1rem;
                        padding-bottom: .1rem;
                    }
                }

                .drop-down-btn {
                    &::after {
                        right: 0.625rem;
                        @include mixins.square(1rem);
                    }
                }

                .drop-down-list {}
            }

        }

        .navbar-navigation-title {
            text-transform: uppercase;
            font-size: 1rem;
            color: #868E96;
            font-weight: 500;
            letter-spacing: 1.6px;
        }
    }

    .btn-exit {
        font-size: 1rem;
        flex: 1 1 auto;
        i {
            @include mixins.square(1rem);
            margin-left: .5rem;
        }
    }
}

.icon-blocks {
    background-image: url(./../images/nav-blocks.svg);
}

.icon-dashboard {
    background-image: url(./../images/nav-dashboard.svg);
}

.icon-payment {
    background-image: url(./../images/nav-payment.svg);
}

.icon-user {
    background-image: url(./../images/nav-user.svg);
}

.icon-wallet {
    background-image: url(./../images/nav-wallet.svg);
}

.icon-exit {
    background-image: url(./../images/exit.svg);
}